body{
    background-color: whitesmoke;
}

h3{
    
    margin-left: 50px;
    color: #f33446;    
    text-align: center;
    width: 300px;  
    display: table;
    
}

h2{
    margin-left: 550px;
    color: white;
  text-shadow: 2px 2px 4px #000000

    
}

select{
    border: none;
    background-color: whitesmoke;
    /* -webkit-appearance: none; */
    font-size: large;
    font-weight: bold;
}

#container{
    margin-top: 100px;
    margin-left: 250px;
    
}

#dte{
    width: 600px;
    height: 70px;
    text-align: center;
    border-radius: 100px;
    margin-left: 120px;
    border-top-style: outset;
    border-left-style: outset;
    
    
}

.dtel{
    padding-left: 344px;
}

.send{
    width: 120px;
    height: 50px;
    text-align: center;
    margin-left: 370px;
    border-radius: 100px;
    background-color: #f33446;
    color: white;
    border-bottom-style: hidden;
    border-right-style: hidden;
}

#ed{
    width: 850px;
    height:110px;
    text-align: center;
    border-radius: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-top-style: outset;
    border-left-style: outset;
}

.edl{
    padding-left: 340px;
}